{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="container-fluid">
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="color:purple; ">{{data.title}}</h1>
            <p style="">{{data.date}}</p>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
        <div class="col-lg-6">
            
            <p style=" font-size: 20px;margin-left: 100px;margin-right:100px;">{{data.description|linebreaks}}</p>  
    </div>
    <div class="col-lg-4">

  <img src="{{data.image.url}}" class="card-img-top" alt="..." style="height:200px;">

    </div>
</div>







</div>
</div>
{% endblock %}